.cookiesInfo {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 9999;
  background: #333;
}

.cookiesInfo__inner {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .cookiesInfo__inner {
    font-size: 11.999px;
  }
}

@media screen and (max-width: 480px) {
  .cookiesInfo__inner {
    font-size: 11.05px;
    padding: 7px;
  }
}

.cookiesInfo__icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: url(../images/cookie.png) 0 0 no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  margin-right: 1.82292vw;
}

@media screen and (max-width: 768px) {
  .cookiesInfo__icon {
    display: none;
  }
}

.cookiesInfo__icon--colorIcon {
  background-image: url(../images/cookie.png);
}

.cookiesInfo__icon--whiteIcon {
  background-image: url(../images/cookies.png);
}

.cookiesInfo__icon--darkIcon {
  background-image: url(../images/cookie2.png);
}

.cookiesInfo__icon--fullIcon {
  background-image: url(../images/cookie3.png);
}

.cookiesInfo__icon--lightIcon {
  background-image: url(../images/cookie4.png);
}

.cookiesInfo__text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.cookiesInfo__close {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  color: #fff;
  line-height: 1;
  margin-left: 1.82292vw;
  text-align: center;
  padding: 7px;
  line-height: 1;
}

.cookiesInfo__close svg {
  width: 22px;
}

@media screen and (max-width: 480px) {
  .cookiesInfo__close {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    background: #333;
  }
  .cookiesInfo__close svg {
    width: 16px;
  }
}

.cookiesInfo--bottom {
  bottom: 0;
}

.cookiesInfo--top {
  top: 0;
  bottom: auto;
}

.cookiesInfo--right .cookiesInfo__icon {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  margin-right: 0;
  margin-left: 1.82292vw;
}

.cookiesInfo--right .cookiesInfo__text {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.cookiesInfo--right .cookiesInfo__close {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-left: 0;
  margin-right: 1.82292vw;
}

@media screen and (max-width: 480px) {
  .cookiesInfo--right .cookiesInfo__close {
    right: auto;
    left: 0;
  }
}

.cookiesInfo a {
  color: #fff;
  text-decoration: underline;
}

.cookiesInfo a:hover {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */