$cookies-bg:#333;
$cookies-color:#fff;
$cookies-linkColor:#fff;
$cookies-closeHover:#666666;

$width:1200px;
$fontSize:13px;
$lh:1.4;

@function get-vw($target) {
	$vw-context: (1920*.01) * 1px;
	@return ($target/$vw-context) * 1vw;
}

.cookiesInfo{
	display:none;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	z-index: 9999;
	background: $cookies-bg;
	&__inner{
		max-width: $width;
		padding: 10px;
		margin: 0 auto;
		color: $cookies-color;
		font-size: $fontSize;
		line-height:$lh;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: 768px){
			font-size: $fontSize*0.923;
		}
		@media screen and (max-width: 480px){
			font-size: $fontSize*0.85;
			padding: 7px;
		}
	}
	&__icon{
		flex-shrink: 0;
		background: url(../images/cookie.png) 0 0 no-repeat;
		background-size: contain;
		width:32px;
		height:32px;
		margin-right:get-vw(35px);
		@media screen and (max-width: 768px) {
			display: none;
		}
		&--colorIcon{
			background-image: url(../images/cookie.png);
		}
		&--whiteIcon{
			background-image: url(../images/cookies.png);
		}
		&--darkIcon{
			background-image: url(../images/cookie2.png);
		}
		&--fullIcon{
			background-image: url(../images/cookie3.png);
		}
		&--lightIcon{
			background-image: url(../images/cookie4.png);
		}
	}
	&__text{
		flex-grow: 1;
	}
	&__close{
		flex-shrink: 0;
		position: relative;
		cursor: pointer;
		color: $cookies-color;
		line-height: 1;
		margin-left:get-vw(35px);
		text-align: center;
		padding:7px;
		line-height: 1;
		svg{
			width: 22px;
		}
		@media screen and (max-width: 480px){
			position: absolute;
			right: 0;
			top: 0;
			transform: translateY(-100%);
			background: $cookies-bg;
			svg{
				width: 16px;
			}
		}
	}
	&--bottom{
		bottom: 0;
	}
	&--top{
		top: 0;
		bottom: auto;
	}
	&--right{
		.cookiesInfo{
			&__icon{
				order:3;
				margin-right: 0;
				margin-left: 1.82292vw;
			}
			&__text{
				order:2;
			}
			&__close{
				order:1;
				margin-left: 0;
				margin-right: 1.82292vw;
				@media screen and (max-width: 480px){
					right: auto;
					left: 0;
				}
			}
		}
	}
	a{
		color: $cookies-linkColor;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}